.footer {
    @include centeringFlex;
    // @include debuggingBorder;
    grid-area: footerArea;

    &__linkIcon {
        margin-right: 40px;
        cursor: pointer;
    }

    &__linkIcon img:hover{
        transition: 1s;
        transform: scale(1.2);
    }
}