body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

// custom styles

.app {
    display: grid;
    grid-template-areas: 
        "headerArea" 
        "mainArea" 
        "footerArea";
    grid-template-rows: 20% 100% 20%;
    grid-gap: 1em;
    text-align: center;
}

.header {
    grid-area: headerArea;
}

.main {
    grid-area: mainArea;

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;

        &__row:not(:last-child) {
            margin-bottom: 1px;
        }
    }

    &__column {
        border: 1px solid red;
        width: 100px;
        height: 100px;
        margin-right: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    grid-area: footerArea;
}