.main {
    padding-top: 17px;
    // @include debuggingBorder;
    grid-area: mainArea;

    &__row {
        @include centeringFlex;

        margin-bottom: 2px;
    }

    &__column, &__emptyColumn {
        @include centeringFlex;

        width: 100px;
        height: 100px;
        margin-right: 2px;
        border-radius: 10px;
    }

    &__column {
        border: 1px solid rgb(201, 199, 199);
        cursor: pointer;
        // color: rgb(62, 62, 62);
        font-family: 'Charis SIL', serif;
        font-size: 16px;
    }

    &__emptyColumn {
        background-color: rgb(201, 199, 199);
    }
}