.main {
    grid-area: mainArea;

    &__row {
        @include centeringFlex;

        &__row:not(:last-child) {
            margin-bottom: 1px;
        }
    }

    &__column {
        @include centeringFlex;
        
        border: 1px solid red;
        width: 100px;
        height: 100px;
        margin-right: 1px;
    }
}