.main {
    padding-top: 17px;
    // @include debuggingBorder;
    grid-area: mainArea;

    &__row {
        @include centeringFlex;

        margin-bottom: 2px;
    }

    &__column, &__emptyColumn, &__descriptionColumn {
        @include centeringFlex;

        width: 100px;
        height: 100px;
        margin-right: 2px;
        border-radius: 10px;
    }

    &__column, &__descriptionColumn {
        cursor: pointer;
        border: 1px solid rgb(201, 199, 199);
    }

    &__column div, &__descriptionColumn div {
        font-family: 'Charis SIL', serif;
        text-align: center;
    }

    &__column div {
        font-size: 16px;
    }

    &__descriptionColumn div {
        font-size: 12px;
    }

    &__descriptionColumn a {
        font-size: 10px;
    }

    &__emptyColumn {
        background-color: rgb(201, 199, 199);
    }
}